body{
 height: 100%;
 width: 100%;
}
.form-signin{
   height: 60vh;
   max-width:600px;
   display: flex;
   flex-direction: row;
}
.proFile{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content:space-between;
}
.information_field{
    width: 300px;
}
.information_field input{
    border-width: 0px;
    border-style: none;
    border-color:none;
    

}
.pedit_row{
    display: flex;
    justify-content:space-between; 
    margin-top:30px;
    margin-bottom:30px;
}
.pedit_labeled{
    margin-left:10px;
}

.pedit_row:nth-child(1){
    margin-top:0px;
}
img{
width: 250px;
height: 250px;
margin-right: 100%;
margin-bottom:15px;    
}
.input{
    width: 110px;
    margin-right: 100%;
}